.form {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}

.input {
  width: 65%;
  border-radius: 8px;
  text-align: center;
  border: 2px solid #747bff;
}

@media screen and (min-width: 768px) {
  .input {
    width: 70%;
  }

  .form {
    gap: 20px;
  }
}
