.input {
  width: 30%;
  border-radius: 8px;
  height: 30px;
  text-align: center;
  border: 2px solid #747bff;
}

.inputWrapper {
  display: flex;
  justify-content: flex-start;
  position: relative;
}
.icon {
  position: absolute;
  left: 160px;
  top: 4px;
  color: #747bff;
  background-color: transparent;
  padding: 0;
  outline: none;
  border: none;
}
